addr = "localhost"
port = 8080
database = "carlos.db"
record_path = "data/"
record_cmd = "python3 /home/pi/radio-CARLOS/scan_sky.py --host=172.16.30.11 --port=4533 --sample-rate=%v --freq=%v --gain=%v --rec-time=%v --wait-time=%v --coords=%v --azim-range=%v --elev-range=%v --azim-step=%v --elev-step=%v --output=%v"
