<!DOCTYPE html>
<html>
<header>
    <title>Recording info</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.colors.min.css">
    <link rel="stylesheet" href="static/style.css">
</header>

<body>
    <main class="container">
        <nav>
            <li>
            <h6 class="pico-color-pink-500">
            ___/\/\/\/\/\______/\/\______/\/\/\/\/\____/\/\__________/\/\/\/\______/\/\/\/\/\_<br />
            _/\/\____________/\/\/\/\____/\/\____/\/\__/\/\________/\/\____/\/\__/\/\_________<br />
            _/\/\__________/\/\____/\/\__/\/\/\/\/\____/\/\________/\/\____/\/\____/\/\/\/\___<br />
            _/\/\__________/\/\/\/\/\/\__/\/\__/\/\____/\/\________/\/\____/\/\__________/\/\_<br />
            ___/\/\/\/\/\__/\/\____/\/\__/\/\____/\/\__/\/\/\/\/\____/\/\/\/\____/\/\/\/\/\___<br />
            </h6>
            <h5>Cooperative Amateur RadioTelescope Listening Outer Space</h5>
            </li>
            <ul>
              <li><a href="/">Home</a></li>
              <li><a href="/request">Request</a></li>
            </ul>
        </nav>
        {{if .ErrorMessage}}
        <h2>
            {{.ErrorMessage}}
        </h2>
        {{else}}
        <h6>
            Record information:
        </h6>
        <div class="grid">
            <div>
                <h5>
                    {{if eq .Rec.Status "Finished"}}
                        Record ID: <a href="/api/download/{{.Rec.Id}}">{{.Rec.Id}}</a>
                    {{else}}
                        Record ID: {{.Rec.Id}}
                    {{end}}
                </h5>
                <h6>
                    User: {{.Rec.User}}
                </h6>
                <h6>
                    Time: {{.StringTime}}
                </h6>
                <h6>
                    Frequency: {{.Rec.Frequency}} Hz
                </h6>
                <h6>
                    Sample rate: {{.Rec.SampleRate}}
                </h6>
                <h6>
                    Gain: {{formatGain .Rec.Gain}} dB
                </h6>
                <h6>
                    Record Time: {{.Rec.RecTime}} ms
                </h6>
                <h6>
                    Wait Time: {{.Rec.WaitTime}} ms
                </h6>
            </div>
            <div>
                <h6>
                    Azimuth: {{.Rec.Az}} º
                </h6>
                <h6>
                    Elevation: {{.Rec.El}} º
                </h6>
                <h6>
                    Azimuth range: {{.Rec.AzRange}} º
                </h6>
                <h6>
                    Elevation range: {{.Rec.ElRange}} º
                </h6>
                <h6>
                    Azimuth step: {{.Rec.AzStep}} º
                </h6>
                <h6>
                    Elevation step: {{.Rec.ElStep}} º
                </h6>
            </div>
        </div>
        {{end}}
    </main>
</body>
</html>